<div class="row mb-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">
          <a>{{title}}</a>
        </h2>
        <p class="card-text">
          {{content}}
        </p>
        <p class="card-text">Created by {{user.username}} on {{ format_date createdAt }}</p>
        <p class="card-text">Comments:</p>
        <ul class="list-group list-group-flush">
          {{#each comments as |comment|}}
          <li class="list-group-item">
            <p>{{comment.content}}</p>
            <p class="small text-muted">By {{comment.user.username}} on {{format_date comment.created_at}}</p>
          </li>
          {{/each}}
        </ul>
      </div>
            <div class="card-body">
                <form class="comment-form">
                    <div class="form-group">
                        <label for="comment-content">Comment</label>
                        <input type="text" class="form-control" id="comment-content" placeholder="Enter Comment Here">
                    </div>
                        <button type="submit" class="btn btn-primary btn-block">Comment</button>
                </form>
            </div>
    </div>
  </div>
</div>
<script src="../js/comment.js"></script>